:root{
    --header-cor: #FF3240;
    --bg-cor: #012B38;
    --bg-secundario: #01495E;
    --font-1: ivory;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
html{
    scroll-behavior: smooth;
}
.borda_img{
   border: 2px solid ivory;
}
.borda_img:hover{
    opacity: 0.8;
 }
img{
    
    border-radius: 3px;
}
h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca.7s infinite;
}
h1{
    font-family: Otomanopee One;
}

@keyframes pisca{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
body{
    background:#012B38;
}
/* -----------------------------------Variaveis-------------------- */
.cor-header{
  background: var(--header-cor);
}
.bg-cor{
    background: var(--bg-cor);
}
.bg-secundario{
    background: var(--bg-secundario);
}
.font-1{
    color: var(--font-1);
}
/* ------------------------------------------------------------------------ */

.categoria{

 margin: 0 auto;
 
}
.categoriaItem{


margin: 0 15px;





}

/* .categoria span{

     margin-left: 2.5em; 
} */

.categoria a{
    text-decoration:none;
    color: black;
}
/*---------Cadastro profissional----------------------------------*/
.cadastro_pro{
    margin: 10rem;
}
.cadastro_pro p{
    font-size:1.4em;

}

/*---------Cadastro Cliente----------------------------------*/
.cadastro_cli{
    margin: 10rem;
}
.cadastro_cli p{
    font-size:1.4em;

}


  .pricing-table{
    margin: auto;
    display:flex;
    
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    
  }
  .col{
     
      padding: 45px;
      max-width:320px;
      box-sizing: border-box;
  }
  .table{
      background:#fff;
      padding: 45px 30px;
      font-family: "montserrat",sans-serif;
      position: relative;
      overflow:hidden;
      box-shadow: 0 0 10px #00000070;
      border-radius: 3px;

  }
  .table h2{
      text-transform: uppercase;

  }
  table ul{
      margin: 0;
      padding:0;
  }  
  .table ul li{
      padding: 10px 0;
      list-style: none;
  }
  .price{
      font-size: 40px;
      margin-bottom: 20px;
  }
  .price span{
      display: block;
      font-size: 14px;
     
     

  }

  .table a{
      text-decoration: none;
      color: #2c3e50;
      border: 2px solid #2c3e50;
      display:block;
      padding:10px 0px;
      margin: 10px 0;
      border-radius: 40px;
      text-transform: uppercase;
      font-size: 14px;
      transition: 0.5s linear;
    
  }
  .table a:hover{
      background:#2c3e50;
      color: #fff;
  }

  
  .list-group-item{
      border: none;
  }
 


  